aiohttp==3.7.4.post0
args==0.1.0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
clint==0.5.1
colorama==0.4.4
idna==3.2
lcu-driver==2.1.3
multidict==5.1.0
psutil==5.8.0
pyfiglet==0.8.post1
typing-extensions==3.10.0.0
yarl==1.6.3
